@import "core/core";
@import "helpers/rezet";

body {
    width: 100%;
    @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
}
header {
    .header_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 100px;

        .header_menu {
            display: flex;
            justify-content: right;
            .header_menu_item {
                margin-left: 75px;
                @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
                &:hover {
                    color: #f8a191;
                    transition: all 0.4s ease;
                }
                &:active {
                    color: darken(#f8a191,10%);
                }
            }
        }    
    }
}
.balancing {
    width: 100%;
    .balancing_wrapper{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        flex-direction: column;
        background: url(../images/gymnast.jpg) no-repeat center center/100% 100%;
        padding: 7% 0;
    }
    .balancing_block {
        width: 50%;

        .balancing_title {
            @include fontFamily('Open Sans', normal, 75px, 700, #484f5b);
            line-height: 1.3;
        }
        .balancing_text {
            min-width: 550px;
            width: 100px;
            @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
            margin-top: 60px;
            line-height: 2;
        }
        .balancing_btn {
            width: 200px;
            height: 50px;
            @include fontFamily('Open Sans', normal, 20px, 700, #484f5b);
            text-transform: uppercase;
            margin-top: 80px;
            background-color: #e6c8c3;
            border: none;

            &:hover {
                background-color: darken(#e6c8c3,20%);
                cursor: pointer;
                transition: all 1s ease;
            }
        }
    }
}
.pregnant {
    width: 100%;

    .pregnant_wrapper{
        width: 100%;
        padding: 8% 0;
        background: url(../images/pregnant.jpg) no-repeat center center/100% 100%;
    }
    .pregnant_block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 100px;

        .pregnant_title {
            @include fontFamily('Open Sans', normal, 75px, 700, #484f5b);
            line-height: 1.3;
        }
        .pregnant_text {
            min-width: 550px;
            width: 100px;
            @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
            margin-top: 65px;
            line-height: 2;
        }
        .pregnant_btn {
            width: 200px;
            height: 50px;
            @include fontFamily('Open Sans', normal, 20px, 700, #484f5b);
            text-transform: uppercase;
            margin-top: 80px;
            background-color: #e6c8c3;
            border: none;

            &:hover {
                background-color: darken(#e6c8c3,20%);
                cursor: pointer;
                transition: all 1s ease;
            }
        }
    }
}
.program_wrapper_img {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 50px;

    .training {
        max-width: 100%;
        width: 33%;
        text-align: center;
    }
}
.program_wrapper_description {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .program_description {
        text-align: center;
        width: 33%;
        margin-top: 60px;
        padding-bottom: 110px;

        .program_title {
            @include fontFamily('Open Sans', normal, 25px, 700, #484f5b);
        }

        .program_text {
            margin-top: 15px;
        }
    }
}
.yoga_wrapper {
    width: 100%;
    background: url(../images/meditation_fon.jpg) no-repeat center center/100% 100%;
    padding: 8% 0;
    display: flex;
    justify-content: left;
    align-items: center;

    .yoga_description {
        width: 50%;
        padding-left: 100px;

        .yoga_title {
            @include fontFamily('Open Sans', normal, 58px, 700, #484f5b);
            line-height: 1.3;
        }
        .yoga_text {
            max-width: 90%;
            @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
            margin-top: 30px;
            line-height: 1.5;
        }
        .yoga_btn {
            width: 200px;
            height: 50px;
            @include fontFamily('Open Sans', normal, 20px, 700, #484f5b);
            text-transform: uppercase;
            margin-top: 50px;
            background-color: #e6c8c3;
            border: none;

            &:hover {
                background-color: darken(#e6c8c3,20%);
                cursor: pointer;
                transition: all 1s ease;
            }
        }
    }
    .yoga_img {
        width: 50%;
    }
}
.discounts {
    width: 100%;
    .discounts_wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        background: url(../images/acrobatics.jpg) no-repeat center center/100% 100%;
        padding: 10% 0;
    
        .discounts_block {
            width: 45%;
            
            .discounts_title {
                @include fontFamily('Open Sans', normal, 58px, 700, #484f5b);
                line-height: 1.3;
            }
            .discounts_text {
                min-width: 550px;
                width: 100px;
                @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
                margin-top: 60px;
                line-height: 2;
            }
            .discounts_btn {
                width: 200px;
                height: 50px;
                @include fontFamily('Open Sans', normal, 20px, 700, #484f5b);
                text-transform: uppercase;
                margin-top: 80px;
                background-color: #e6c8c3;
                border: none;

                &:hover {
                    background-color: darken(#e6c8c3,20%);
                    cursor: pointer;
                    transition: all 1s ease;
                }
            }
        }
    }    
}
.gallery {
    width: 100%;
    background: url(../images/fon_slide.jpg) no-repeat center center/100% 100%;
    
    .gallery_description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;

        .gallery_title {
            @include fontFamily('Open Sans', normal, 58px, 700, #484f5b);
        }
        .gallery_text {
            @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
            width: 65%;
            text-align: center;
            margin-top: 15px;
            line-height: 1.5;
        }
    }
    .slider {
        margin-top: 10px;
        min-width: 0;
        height: 100%;
        padding: 5px 100px 30px;
        overflow: hidden;
        position: relative;

        .photo {
            max-width: 351px;
            width: 100%;
            max-height: 556px;
            height: 100%;
            box-shadow: 10px 10px 20px #c2c1c1;
            margin-bottom: 45px;
            margin-left: 80px;

            &:hover {
                box-shadow: 0 0 20px #4d4c4c;
                transition: all 0.5s ease;
                cursor: pointer;
            }
            &:active {
                box-shadow: 0 0 10px #444444;
            }
            .photo_description {
                width: 100%;
                text-align: center;
                padding-top: 20px;

                .photo_title {
                    @include fontFamily('Open Sans', normal, 33px, 700, #484f5b);
                }
                .photo_text {
                    padding: 20px;
                    @include fontFamily('Open Sans', normal, 16px, 400, #484f5b);
                    line-height: 1.5;
                }
            }    
        }
    }
    // Slick slider start
    .slick-list {
        overflow: hidden;
    }
    .slick-track{
        display: flex;
    }
    .slick-arrow{
        position: absolute;
        top: 50%;
        margin-top: -100px;
        z-index: 10;
        font-size: 0;
        width: 80px;
        height: 80px;
    }
    .slick-arrow.slick-prev{
        left: 0;
        background: url('../images/svg/left-arrow.svg') 0 0 / 100% no-repeat;
    }
    .slick-arrow.slick-next{
        right: 0;
        background: url('../images/svg/right-arrow.svg') 0 0 / 100% no-repeat;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .slick-dots li{
        list-style: 0;
        margin: 0 10px;
    }
    .slick-dots li button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #484f5b;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button {
        background-color: #fff;
        border: 3px solid #484f5b;
    }
    // Slick slider the end
}
.video {
    width: 100%;

    .video_wrapper {
        width: 100%;
        height: 760px;
        display: flex;
        align-items: center;
        justify-content: right;
        background-color: #e6c8c3;
        padding-left: 90px;

        .video_play {
            max-width: 626px;
            width: 100%;
            height: 0;
            padding: 209px;
            background: #8F8F8F url(../images/miditation_video.jpg) no-repeat center center/cover;
            position: relative;
            color: black;

            .video_play_icon {
                max-width: 150px;
                width: 100%;
                height: 150px;
                background: url(../images/png/icon_play.png) no-repeat 60% 50%/50% 60%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;

                    &:hover {
                        background: url(../images/png/icon_play.png) no-repeat 60% 50%/60% 70%;
                        cursor: pointer;
                        transition: all 0.2s ease-out;
                    }   
                    &:active {
                        background: url(../images/png/icon_play.png) no-repeat 60% 50%/55% 65%;
                        transition: none;
                    }
            }
            .video_play_youtube-laptop {
                display: none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .video_block {
            padding-left: 70px;

            .video_title {
                @include fontFamily('Open Sans', normal, 58px, 700, #484f5b);
                line-height: 1.5;
            }
            .video_text {
                width: 73%;
                @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
                line-height: 1.5;
                padding: 50px 0;
            }
            .video_massenger {
                display: flex;
                width: 25%;
                justify-content: space-between;

                .video_icon1, .video_icon2, .video_icon3 {
                    width: 38px;
                    height: 38px;
                    background-color:#484f5b;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: #46659c;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                    &:active {
                        background-color: darken(#46659c, 10%);
                        transition: none;
                    }
                }
            }
        }
    }
}
.feedback {
    width: 100%;
    padding: 2% 0;
    background: url(../images/fon_form.jpg) no-repeat center center/100% 100%;

    .feedback_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        .feedback_title {
            @include fontFamily('Open Sans', normal, 58px, 700, #484f5b);
            line-height: 1.5;
            margin-top: 20px;
        }
        .feedback_text {
            width: 65%;
            padding-top: 20px;
            padding-bottom: 50px;
            @include fontFamily('Open Sans', normal, 20px, 400, #484f5b);
            line-height: 1.5;
            text-align: center;
        }
        .form_wrapper {
            width: 100%;
            text-align: center;

            .form_field_name {
                margin-bottom: 30px;
            }
            .form_field_name, .form_field_gender {
                input {
                    width: 940px;
                    height: 60px;
                    border: 2px solid #b0b0b0;
                    @include fontFamily('Times New Roman', normal, 20px, 400, #b0b0b0);
                    font-family: sans-serif;
                    padding-left: 40px;
                    background-color: #efefef;
                }
            }
            .form_field_messages {
                textarea {
                    resize: none;
                    max-width: 940px;
                    width: 100%;
                    height: 145px;
                    border: 2px solid #b0b0b0;
                    @include fontFamily('Times New Roman', normal, 20px, 400, #b0b0b0);
                    font-family: sans-serif;
                    padding-top: 30px;
                    padding-left: 40px;
                    margin-top: 35px;
                    background-color: #efefef;
                }
            }
            .form_field_submit {
                button {
                    width: 200px;
                    height: 50px;
                    @include fontFamily('Open Sans', normal, 20px, 700, #484f5b);
                    text-transform: uppercase;
                    margin: 50px 0;
                    background-color: #e6c8c3;
                    border: none;

                    &:hover {
                        background-color: darken(#e6c8c3,20%);
                        transition: all 1s ease;
                    }
                }
            }
        }
    }
}
.footer_wrapper {
    width: 100%;
    max-height: 325px;
    height: 100%;
    background-color: #484f5b;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding:70px 165px 60px;

    .footer_contact {
        .footer_contact_title {
            @include fontFamily('Open Sans', normal, 25px, 700, white);

            &:hover {
                color: #fd9369;
                transition: all 0.4s ease;
            }
            &:active {
                color: #c97250;
                transition: none;
            }
        }
        .footer_contact_text {
            @include fontFamily('Times New Roman', normal, 16px, 400, white);
            font-family: sans-serif;
            line-height: 2;
            margin-top: 35px;
            margin-bottom: 45px;
        }
        .footer_contact_link {
            @include fontFamily('Times New Roman', normal, 16px, 400, white);
            font-family: sans-serif;
            
            &:hover {
                color: #fd9369;
                transition: all 0.4s ease;
            }
            &:active {
                color: #c97250;
                transition: none;
            }
        }
    }
    .footer_nav {
        .footer_nav_subtitle {
            @include fontFamily('Open Sans', normal, 16px, 700, white);
        }
        .footer_nav_chapter {
            margin-top: 20px;

            li {
                margin-top: 12px;

                .link {
                    @include fontFamily('Open Sans', normal, 16px, 400, white);
    
                    &:hover {
                        color: #fd9369;
                        transition: all 0.4s ease;
                    }
                    &:active {
                        color: #c97250;
                        transition: none;
                    }
                }
            }
            
        }
    }
    .footer_options, .footer_points {
        .footer_options_subtitle, .footer_points_subtitle {
            @include fontFamily('Open Sans', normal, 16px, 700, white);
        }
    }
    .footer_options_chapter, .footer_points_chapter {
        margin-top: 20px;
        li {
            margin-top: 12px;
            .link {
                @include fontFamily('Open Sans', normal, 16px, 400, white);
                    
                &:hover {
                    color: #fd9369;
                    transition: all 0.4s ease;
                }
                &:active {
                    color: #c97250;
                    transition: none;
                }
            }
        }
        
    }
    .footer_massenger {
        .footer_massenger_—Åopyright {
            @include fontFamily('Open Sans', normal, 16px, 400, white);
            line-height: 1.5;
            margin: 35px 0;
        }
        .footer_massenger_icons {
            display: flex;
            padding-top: 5px;

            .footer_massenger_icons_facebook,
            .footer_massenger_icons_instagram,
            .footer_massenger_icons_twitter {
                display: flex;
                justify-content: center;
                text-align: center;
                width: 22px;
                height: 22px;
                background-color: white;

                &:hover {
                    background-color: #fd9369;
                    transition: all 0.4s ease;
                }
                &:active {
                    background-color: #c97250;
                    transition: none;
                }
            }
            .footer_massenger_icons_instagram,
            .footer_massenger_icons_twitter {
                margin-left: 25px;
            }
        }
    }
}




